OPENCODE_SRC_ROUTE=/your_path/user/.config
OPENCODE_MODEL_PRIMARY=opencode/deepseek-v4-flash-free
OPENCODE_MODEL_SUBAGENT_PLANNER=opencode/deepseek-v4-flash-free
OPENCODE_MODEL_SUBAGENT_PROGRAMMER=opencode/deepseek-v4-flash-free
OPENCODE_MODEL_SUBAGENT_MINI=opencode/deepseek-v4-flash-free

OPENCODE_REASONING_PRIMARY=high
OPENCODE_REASONING_SECONDARY=medium
OPENCODE_REASONING_TERTIARY=low
OPENCODE_REASONING_MAX=xhigh
