OPENCODE_SRC_ROUTE=/your_path/user/.config
OPENCODE_MODEL_PRIMARY=opencode/{primary}-free
OPENCODE_MODEL_SUBAGENT_PLANNER=opencode/{planner}-free
OPENCODE_MODEL_SUBAGENT_PROGRAMMER=opencode/{programmer}-free
OPENCODE_MODEL_SUBAGENT_MINI=opencode/{subagent-mini}-free

OPENCODE_REASONING_PRIMARY=high
OPENCODE_REASONING_SECONDARY=medium
OPENCODE_REASONING_TERTIARY=low
OPENCODE_REASONING_MAX=xhigh
